<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>tokyonight colours for 10+ apps</h1>
    <h2>Discovery</h2>
    <strong>Categories</strong>
    <ul>
      <li>Browsers</li>
      <li>Editors</li>
      <li>IDE's</li>
      <li>Social</li>
      <li>Services</li>
      <li>Terminals</li>
      <li>Others</li>
    </ul>

    <h2>Apps</h2>
    <h3>Browsers</h3>
    <ul>
      <li>
        <a href="https://www.mozilla.org/en-US/firefox/new/" hx-get="/firefox"
          >Firefox</a
        >
      </li>
      <li>
        <a href="https://www.google.com/chrome/" hx-get="/chrome">Chrome</a>
      </li>
      <li>
        <a href="https://www.microsoft.com/en-us/edge" hx-get="/edge">Edge</a>
      </li>
    </ul>

    <h3>Editors</h3>
    <ul>
      <li>
        <a href="https://code.visualstudio.com/" hx-get="/vscode">VSCode</a>
      </li>
      <li>
        <a href="https://www.sublimetext.com/" hx-get="/sublime">Sublime</a>
      </li>
      <li><a href="https://www.vim.org/" hx-get="/vim">Vim</a></li>
    </ul>

    <h3>IDE's</h3>
    <ul>
      <li>
        <a href="https://www.jetbrains.com/idea/" hx-get="/idea">IntelliJ</a>
      </li>
      <li><a href="https://www.eclipse.org/" hx-get="/eclipse">Eclipse</a></li>
      <li>
        <a href="https://www.jetbrains.com/pycharm/" hx-get="/pycharm"
          >PyCharm</a
        >
      </li>
    </ul>
  </body>
</html>
