<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tokyo Night Themes for All the Apps</title>

    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>

    <!-- Import the Tokyo Night CSS file -->
    <link rel="stylesheet" href="/static/tokyonight-theme.css" />
  </head>
  <body>
    <header>
      <h1>Tokyo Night Themes for All the Apps</h1>
    </header>

    <main>
      <h2>Discovery</h2>
      <strong>Categories</strong>
      <ul>
        <li>Browsers</li>
        <li>Editors</li>
        <li>IDE's</li>
        <li>Social</li>
        <li>Services</li>
        <li>Terminals</li>
        <li>Others</li>
      </ul>

      <h2>Apps</h2>

      <h3>Browsers</h3>
      <ul>
        <li>
          <a hx-get="/firefox" hx-target="#app-details" hx-swap="innerHTML"
            >Firefox</a
          >
        </li>
        <li>
          <a hx-get="/chrome" hx-target="#app-details" hx-swap="innerHTML"
            >Chrome</a
          >
        </li>
        <li>
          <a hx-get="/edge" hx-target="#app-details" hx-swap="innerHTML"
            >Edge</a
          >
        </li>
      </ul>

      <h3>Editors</h3>
      <ul>
        <li>
          <a hx-get="/vscode" hx-target="#app-details" hx-swap="innerHTML"
            >VSCode</a
          >
        </li>
        <li>
          <a hx-get="/sublime" hx-target="#app-details" hx-swap="innerHTML"
            >Sublime</a
          >
        </li>
        <li>
          <a hx-get="/nvim" hx-target="#app-details" hx-swap="innerHTML"
            >Neovim</a
          >
        </li>
        <li>
          <a hx-get="/vim" hx-target="#app-details" hx-swap="innerHTML">Vim</a>
        </li>
      </ul>

      <h3>IDE's</h3>
      <ul>
        <li>
          <a hx-get="/idea" hx-target="#app-details" hx-swap="innerHTML"
            >IntelliJ</a
          >
        </li>
        <li>
          <a hx-get="/eclipse" hx-target="#app-details" hx-swap="innerHTML"
            >Eclipse</a
          >
        </li>
        <li>
          <a hx-get="/pycharm" hx-target="#app-details" hx-swap="innerHTML"
            >PyCharm</a
          >
        </li>
      </ul>

      <div
        id="app-details"
        style="
          margin-top: 2em;
          background-color: #32344a;
          padding: 1em;
          border-radius: 8px;
        "
      >
        <!-- Content from HTMX requests will be loaded here -->
      </div>
    </main>

    <footer>
      <p>Made with ❤️ using htmx, GitHub Pages, Copilot, and VSCode</p>
    </footer>
  </body>
</html>
