@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Mono:wght@400;500;700&display=swap');
/* add tokyo-night theme colors by name */
:root {
  --tokyo-night-background: #1a1b26;
  --tokyo-night-current-line: #282a36;
  --tokyo-night-selection: #44475a;
  --tokyo-night-foreground: #f8f8f2;
  --tokyo-night-comment: #6272a4;
  --tokyo-night-cyan: #8be9fd;
  --tokyo-night-green: #50fa7b;
  --tokyo-night-orange: #ffb86c;
  --tokyo-night-pink: #ff79c6;
  --tokyo-night-purple: #bd93f9;
  --tokyo-night-red: #ff5555;
  --tokyo-night-yellow: #f1fa8c;
}

/* add tokyo-night moon colors by name */
:root {
  --tokyo-night-moon-background: #f8f8f2;
  --tokyo-night-moon-current-line: #eaeaea;
  --tokyo-night-moon-selection: #d4d4d4;
  --tokyo-night-moon-foreground: #282a36;
  --tokyo-night-moon-comment: #6272a4;
  --tokyo-night-moon-cyan: #0184bc;
  --tokyo-night-moon-green: #50a14f;
  --tokyo-night-moon-orange: #d75f00;
  --tokyo-night-moon-pink: #c353e0;
  --tokyo-night-moon-purple: #a626a4;
  --tokyo-night-moon-red: #e45649;
  --tokyo-night-moon-yellow: #986801;

  /* add tokyo-night storm colors by name */
  --tokyo-night-storm-background: #1f2335;
  --tokyo-night-storm-current-line: #2a3047;
  --tokyo-night-storm-selection: #3c435e;
  --tokyo-night-storm-foreground: #c0caf5;
  --tokyo-night-storm-comment: #6272a4;
  --tokyo-night-storm-cyan: #8be9fd;
  --tokyo-night-storm-green: #50fa7b;
  --tokyo-night-storm-orange: #ffb86c;
  --tokyo-night-storm-pink: #ff79c6;
  --tokyo-night-storm-purple: #bd93f9;
  --tokyo-night-storm-red: #ff5555;
  --tokyo-night-storm-yellow: #f1fa8c;

  /* add tokyo-night day colors by name */
  --tokyo-night-day-background: #f8f8f2;
  --tokyo-night-day-current-line: #eaeaea;
  --tokyo-night-day-selection: #d4d4d4;
  --tokyo-night-day-foreground: #282a36;
  --tokyo-night-day-comment: #6272a4;
  --tokyo-night-day-cyan: #0184bc;
  --tokyo-night-day-green: #50a14f;
  --tokyo-night-day-orange: #d75f00;
  --tokyo-night-day-pink: #c353e0;
  --tokyo-night-day-purple: #a626a4;
  --tokyo-night-day-red: #e45649;
  --tokyo-night-day-yellow: #986801;

  /* add color variable */
  --text-color: var(--tokyo-night-storm-foreground);
  --background-color: var(--tokyo-night-storm-background);
  --current-line-color: var(--tokyo-night-storm-current-line);
  --primary-color: var(--tokyo-night-storm-pink);
  --secondary-color: var(--tokyo-night-storm-cyan);
  --tertiary-color: var(--tokyo-night-storm-purple);
  --quaternary-color: var(--tokyo-night-storm-green);
  --border-color: var(--tokyo-night-storm-comment);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 1.1em;
  /* font-family: 'Fira Mono', monospace; */
  /* font-weight: 300; */
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {
  background-color: var(--background-color);
  padding: 1.5em;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: var(--primary-color)
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}

h2 {
  font-size: 1.8em;
  color: var(--secondary-color);
}

h3 {
  font-size: 1.5em;
  color: var(--tertiary-color);
}

strong {
  font-size: 1.2em;
  color: var(--quaternary-color);
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-color)
}

footer {
  background-color: var(--background-color);
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  color: var(--primary-color)
}

code {
  color: var(--quaternary-color)
}